<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
</head>
<body>
    <div>
        <h1>text</h1>
        <p th:text="${userName}">Army</p>
        <span th:text=" 'Welcome to our application, ' + ${userName} + '!'"></span>
        <br />
        <span th:text=" |Welcome to our application, ${userName}!| "></span>
    </div>

    <div>
        <h1>If/Unless</h1>
        <a th:if="${flag == 'yes'}" th:href="@{/home}">Home</a>
        <a th:unless="${flag != 'no'}" th:href="@{http://www.army16.com/}">Army</a>
    </div>

    <div>
        <h1>循环</h1>
        <table>
            <tr th:each="user,iterStat : ${users}">
                <td th:text="${user.name}">Army</td>
                <td th:text="${user.age}">18</td>
                <td th:text="${user.pass}">123</td>
                <td th:text="${iterStat.index}">index</td>
            </tr>
        </table>
    </div>

    <div>
        <h1>URL</h1>
        <a th:href="@{http://www.army16.com/{type}(type=${type})}">link1</a>
        <br />
        <a href="details.html" th:href="@{http://www.army16.com/{pageId}/test.html(pageId=${pageId})}">view</a>
        <br />
        <div th:style="'background:url('+@{${img}}+');'">
            <br/><br/><br/>
        </div>
    </div>

    <div th:inline="text">
        <h1>内联[ [ ] ]</h1>
        <p>Hello, [[${userName}]]</p>
        <br/>
    </div>


    <div>
        <h1>内嵌变量</h1>
        <p th:text="${#dates.format(date, 'dd/MMM/yyyy HH:mm')}">date</p>
        <p th:text="${#dates.createToday()}">date</p>
        <p th:text="${#dates.createNow()}">date</p>

        <p th:text="${#strings.isEmpty(userName)}">Army</p>
        <p th:text="${#strings.listIsEmpty(users)}">army</p>
        <p th:text="${#strings.length(userName)}">army</p>
        <p th:text="${#strings.concat(userName)}">army</p>

        <p th:text="${#strings.randomAlphanumeric(count)}">army</p>
        <br/>
    </div>

</body>
<script th:inline="javascript">
    var name = [[${userName}]] + ', Sebastian';
    console.log(name);
</script>
</html>