<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:fragment="htmlhead">
    <meta charset="UTF-8">
    <title th:text="${title} != null ? ${title} : 'Layout'">Layout</title>
</head>
<body>
    <div>
        <div th:replace="layout/header :: layout_header">Header</div>
        <div th:replace="layout/left :: layout_left">Left</div>
        <div layout:fragment="content">content</div>
        <div th:replace="layout/footer :: layout_footer">Footer</div>
    </div>
</body>
</html>